body {
  box-sizing: border-box;
  background-color: rgb(233, 248, 248);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* #container{
  margin-top: auto;
} */

#showImage {
  background-color: black;
  width: 70%;
  position: relative;
}


#showImage img {
  width: 100%;
  height: 80vh;
  object-fit: fill;
}

#imagesGallery .img-thumbnail {
  width:100%;
  height:250px;
  transition: transform 0.3s ease;
}

#imagesGallery .img-thumbnail:hover {
  transform: scale(1.15);
  cursor: pointer;
}


#nextButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#prevButton {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 576px) {
  #imagesGallery .img-thumbnail {
  height: 150px;
}
  #showImage {
  width: 100%;
}
#showImage img {
  height: 50vh;
}
#prevButton {
  transform: translate(1%, -50%);
  
}
#nextButton {
  transform: translate(-1%, -50%);
}
}