body {
    box-sizing: border-box;
}

/* img{
 width: 200px;
 height: 200px;
} */

/* #carousalContainer{
    object-fit: cover;
    overflow: hidden;
} */

.carousel-item img {
    width: 100%;
  height: 80vh;
  object-fit: contain;
  background-color: black; /*gives black bars if image doesn't fill in carousal item div */
}

.img-thumbnail {
  transition: transform 0.3s ease; 
}

.img-thumbnail:hover {
  transform: scale(1.15); 
  cursor: pointer;  
}