body {
    box-sizing: border-box;
}

/* img{
 width: 200px;
 height: 200px;
} */

/* #carousalContainer{
    object-fit: cover;
    overflow: hidden;
} */

#showImage img {
    width: 100%;
  height: 80vh;
  object-fit: contain;
  background-color: black; /*gives black bars if image doesn't fill in carousal item div */
}

#imagesGallery .img-thumbnail {
  transition: transform 0.3s ease; 
}

#imagesGallery .img-thumbnail:hover {
  transform: scale(1.15); 
  cursor: pointer;  
}

#showImage{
    position: relative;
}
#nextButton{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-10%,-50%);
}
#prevButton{
    position: absolute;
     top: 50%;
    left: 0;
    transform: translate(10%,-50%);
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}