body {
  box-sizing: border-box;
  background-color: rgb(233, 248, 248);
}

#showImage {
  background-color: black;
  width: 70%;
}

#showImage img {
  width: 100%;
  height: 80vh;
  object-fit: fill;
}

#imagesGallery .img-thumbnail {
  transition: transform 0.3s ease;
}

#imagesGallery .img-thumbnail:hover {
  transform: scale(1.15);
  cursor: pointer;
}

#showImage {
  position: relative;
}

#nextButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#prevButton {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}